
{% load static%}
{% include 'navbar.html' %}


<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gallery</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/gallery.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  
</head>

<body>
    {% block content %}


    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">
  
          <div class="section-header">
              <span>Our Gallery</span>
              <h2>Our Gallery</h2>
          </div>
  
          <div class="row gy-4">
              {% for item in gallery %}
                  <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                      <div class="card">
                          <div class="card-img">
                              <img src="{{ item.gallery_pic.url }}" alt="" class="img-fluid">
                          </div>
                          <h3><a href="service-details.html" class="stretched-link">{{ item.name }}</a></h3>
                          <p>{{ item.description }}</p>
                      </div>
                  </div>
              {% endfor %}
          </div>
  
      </div>
  </section>
  

    {% endblock %}
    
</body>
</html>
