{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 link-secondary">GymGenius</a></li>
              <li><a href="#" class="nav-link px-2 link-body-emphasis">Gallery</a></li>
              <li><a href="#" class="nav-link px-2 link-body-emphasis">About</a></li>
              <li><a href="#" class="nav-link px-2 link-body-emphasis">Contact</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="dropdown text-end">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

                {% if user.is_authenticated %}
                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" width="32" height="32" class="rounded-circle">
                {% endif %}
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'profile' user.id%}">Profile</a></li>
                {% else %}
                <li><a class="dropdown-item" href="#">Create profile</a></li>
                {% endif %}
                
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <section id="hero" class="hero">
        <div class="hero-image-container">
            <img src="{% static 'images/gym.jpg' %}" alt="" data-aos="fade-in" class="hero-image">
        </div>
        <div class="container hero-content">
            <div class="row">
                <div class="col-lg-10 content">
                    <h2 data-aos="fade-up" data-aos-delay="100">Welcome {{user}} to a Healthier You - Your Journey Starts Here!</h2>
                    <p> At our gym, we are not just about fitness; we are dedicated to transforming lives. Our passionate team of fitness experts is here to guide and support you on your path to a healthier, stronger you. From personalized workout plans to expert nutrition advice, we are committed to helping you reach your fitness goals. Join us and embark on a journey to a healthier and happier version of yourself.</p>
                </div>
                {% if not request.user.is_authenticated %}
                <div class="col-lg-5 content">
                  <form class="sign-up-login-form d-flex" data-aos="fade-up" data-aos-delay="300">
                    <a href="{% url 'register' %}">
                        <button type="button" class="btn btn-primary">Sign Up</button>
                    </a>
                    <a href="{% url 'login' %}">
                        <button type="button" class="btn btn-secondary">Login</button>
                    </a>
                </form>
                
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    
    
    
    



    
</body>
</html>