{% load static %}

<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body style="background-image: url('{% static "images/gym.jpg" %}'); background-size: cover; background-position: center; margin: 0; padding: 0; height: 100vh; overflow: hidden;">
  {% block content %}
<div class="container">
  <h1 class="ml-6" text-center>{{ profile.name }}</h1>
  <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col-md-6 mt-0">                  
                  <p class="card-title">Email: {{ profile.user.email }}</p>
                  <p class="card-text mt-5">Bio: {{ profile.bio }}</p>
                  <p class="card-text">Fitness Level: {{ profile.fitness_level }}</p>
              </div>
              <div class="col-md-6">
                  <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle mr-9" style="max-width: 150px; max-height: 150px;">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 mt-3">
                  <h3>Fitness Goals</h3>
                  <p>{{ profile.fitness_goals }}</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 mt-3">
                  <h3>Workout Preferences</h3>
                  <p>{{ profile.workout_preferences }}</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 mt-3">
                  <h3>Nutritional Preferences</h3>
                  <p>{{ profile.nutritional_preferences }}</p>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}

</body>


</html>
