{% load static %}


<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body style="background-image: url('{% static "images/gym.jpg" %}'); background-size: cover; background-position: center; margin: 0; padding: 0; height: 100vh; overflow: hidden;">
    {% block content %}
    <div class="card">
        <h3 class="card-title text-primary">{{ profile.name }}</h3>
        <div class="card-header">

            <img src="{{ profile.profile_picture.url }}" class="rounded-circle float-right" alt="Profile Picture" style="max-width: 100px;">
        </div>
        <div class="card-body">
            <p class="card-text mt-2">Bio: {{ profile.bio }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5>Fitness Goals</h5>
                {{ profile.fitness_goals }}
            </li>
            <li class="list-group-item">
                <h5>Workout Preferences</h5>
                {{ profile.workout_preferences }}
            </li>
            <li class="list-group-item">
                <h5>Nutritional Preferences</h5>
                {{ profile.nutritional_preferences }}
            </li>
        </ul>
        <div class="card-body">
            <a href="{% url 'update-profile' user.id %}" class="card-link">UPDATE</a>
            <a href="#" class="card-link">DELETE</a>
        </div>
    </div>
    

{% endblock %}


</body>


</html>
