body{
  background-color: rgb(240, 87, 112);
}

.services .card {
    border: 1px solid rgba(14, 29, 52, 0.15);
    background: #fff;
    position: relative;
    border-radius: 0;
    height: 100%;
  }
  
  .services .card .card-img {
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 0;
  }
  
  .services .card .card-img img {
    transition: 0.3s ease-in-out;
  }
  
  .services .card h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px 30px;
    text-transform: uppercase;
  }
  
  .services .card a {
    color: #001973;
    transition: 0.3;
  }
  
  .services .card a:hover {
    color: var(--color-primary);
  }
  
  .services .card p {
    padding: 0 30px;
    margin-bottom: 30px;
    color: var(--color-secondary);
    font-size: 15px;
  }
  
  .services .card:hover .card-img img {
    transform: scale(1.1);
  }

  .section-header {
    text-align: center;
    padding: 30px 0;
    position: relative;
  }
  
  .section-header h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #001973;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-header h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .section-header span {
    position: absolute;
    top: 46px;
    color: rgba(14, 29, 52, 0.06);
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
    line-height: 0;
  }
  
  .section-header p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
  
  @media (max-width: 640px) {
    .section-header h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }
  
    .section-header span {
      font-size: 38px;
    }
  }
    