/* Custom CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 200px; /* Adjust image height */
    object-fit: cover; /* Maintain aspect ratio */
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    color: #6c757d;
}

.btn-back {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-back:hover {
    background-color: #138496;
}